<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T9q7tLry9TisE8/rc7QbIoQCYu12g9lmDj000066wvX8Y7wvXTfiZLa4JHsfBupG" crossorigin="anonymous">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C89scLLqNg519fKFByD54p0321qJwgB/gG4BD9yG8yVe+APfeJ6woeF73IdxlC6" crossorigin="anonymous"></script>
</body>
</html>
